body {
    background-color: rgb(61, 61, 61);
  }
  li {
      color: white;
      font-family: "Lucida Console", Courier, monospace;
      font-size: 12px;
  }
  h1 {
    color: white;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 25px;
  }
  p {
    color: white    ;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 12px;
  }
  img {
    max-width: 100%;
    height: auto;
  }